In [1]:
import pandas as pd
# Replace 'dataset.csv' with the actual file path
df = pd.read_csv('Raw Dataset.csv')

# Display the first few rows of the DataFrame
df.head()

,1. Are you currently employed?,2. What is your age? (eg:21),3. What is your gender?,4. How much is your monthly expenses? (eg:1500)\n,5. How much do you usually spend on clothes? (eg:100),6. How important is the clothing price as buying factor?,7. How important is the clothing quality to you?,8. How important is the style offered by a clothing brand?,9. How important is the image of a clothing brand?,10. How important is the accessibility of a clothing brand store's location?,11. What clothing types do you typically purchase?\n,12. Which shopping platform do you prefer the most?\n,13. Which clothing brand do you prefer?
0,No,14,Female,250,149,Very important,Not important,Not important,Not important,Not important,Sports wear,In-store shopping,Brands Outlet
1,Yes,22,Male,1500,300,Not important,Very important,Moderately important,Very important,Very important,Formal wear,Both,Uniqlo
2,Yes,20,Male,1400,400,Not important,Very important,Moderately important,Very important,Very important,Formal wear,Both,Uniqlo
3,Yes,22,Male,1300,250,Not important,Very important,Moderately important,Very important,Very important,Formal wear,Both,Uniqlo
4,No,19,Male,450,180,Very important,Not important,Not important,Not important,Not important,Sports wear,In-store shopping,Brands Outlet

In [2]:
# Replace attribute name
original_column_names = ['Are you currently employed?',
                          'What is your age? (eg:21)',
                          'What is your gender?',
                          'How much is your monthly expenses? (eg:1500)',
                          'How much do you usually spend on clothes? (eg:100)',
                          'How important is the clothing price as buying factor?',
                          'How important is the clothing quality to you?',
                          'How important is the style offered by a clothing brand?',
                          'How important is the image of a clothing brand?',
                          'How important is the accessibility of a clothing brand store\'s location?',
                          'What clothing types do you typically purchase?',
                          'Which shopping platform do you prefer the most?',
                          'Which clothing brand do you prefer?']

# Define simplified column names
new_column_names = [
    'Employment',
    'Age',
    'Gender',
    'MonthlyExpenses',
    'ClothesExpenses',
    'PriceImportance',
    'QualityImportance',
    'StyleImportance',
    'BrandImageImportance',
    'LocationImportance',
    'PurchasedClothingTypes',
    'PreferredShoppingPlatform',
    'PreferredClothingBrand'
]

# Rename columns in the DataFrame
df.columns = new_column_names

# Display the DataFrame with updated column names
df.head()

,Employment,Age,Gender,MonthlyExpenses,ClothesExpenses,PriceImportance,QualityImportance,StyleImportance,BrandImageImportance,LocationImportance,PurchasedClothingTypes,PreferredShoppingPlatform,PreferredClothingBrand
0,No,14,Female,250,149,Very important,Not important,Not important,Not important,Not important,Sports wear,In-store shopping,Brands Outlet
1,Yes,22,Male,1500,300,Not important,Very important,Moderately important,Very important,Very important,Formal wear,Both,Uniqlo
2,Yes,20,Male,1400,400,Not important,Very important,Moderately important,Very important,Very important,Formal wear,Both,Uniqlo
3,Yes,22,Male,1300,250,Not important,Very important,Moderately important,Very important,Very important,Formal wear,Both,Uniqlo
4,No,19,Male,450,180,Very important,Not important,Not important,Not important,Not important,Sports wear,In-store shopping,Brands Outlet

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employment                 500 non-null    object
 1   Age                        500 non-null    int64
 2   Gender                     500 non-null    object
 3   MonthlyExpenses            500 non-null    int64
 4   ClothesExpenses            500 non-null    int64
 5   PriceImportance            500 non-null    object
 6   QualityImportance          500 non-null    object
 7   StyleImportance            500 non-null    object
 8   BrandImageImportance       500 non-null    object
 9   LocationImportance         500 non-null    object
 10  PurchasedClothingTypes     500 non-null    object
 11  PreferredShoppingPlatform  500 non-null    object
 12  PreferredClothingBrand     500 non-null    object
dtypes: int64(3), object(10)
memory usage: 50.9+ KB

In [4]:
# Specify the column name
column_name = 'Age'

# Calculate quartiles and IQR
Q1 = df[column_name].quantile(0.25)
Q3 = df[column_name].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound)
print(upper_bound)

# Identify outliers using boolean indexing
outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)

# Display rows with outliers
outlier_rows = df[outliers]
print("Rows with outliers:")
print(outlier_rows)
num_outliers = outliers.sum()
print(f"Number of outliers in {column_name}: {num_outliers}")

14.5
26.5
Rows with outliers:
    Employment  Age  Gender  MonthlyExpenses  ClothesExpenses  \
0           No   14  Female              250              149
30          No   13  Female              500              200
32          No   14    Male              350              200
48          No   14    Male              496              143
53          No   14  Female              300              200
64          No   43  Female             2000              400
89         Yes   33    Male             3000              500
92          No   13    Male              200              150
103         No   33  Female             3500              400
112         No   14    Male              350              200
125         No   14  Female              450              125
135         No   29  Female             1000              200
137         No   14  Female              349              200
147         No   13    Male              250              100
194         No   34    Male             1000              345
199         No   14    Male              320              190
208         No   13  Female              500              147
212        Yes   28  Female             1000              200
223         No   14  Female              300              150
234         No   14  Female              450              160
241         No   14    Male              470              178
253         No   13  Female              340              120
266         No   14    Male              465              159
280         No   13  Female              258              123
287         No   14    Male              500              120
291        Yes   32    Male             1500              300
317        Yes   44    Male             4000              500
319        Yes   31  Female             1500              250
333        Yes   32  Female             1000              100
349         No   13  Female              240              122
374         No   14  Female              100               60
382         No   14    Male              200               80
384        Yes   27  Female              900              300
403        Yes   30  Female             2500             1000
423         No   14  Female              230               80
439        Yes   43    Male             3000              550
441         No   14  Female              300              200
448        Yes   14  Female              400              100
450         No   14  Female              500              195
456         No   27  Female             2000              200
483         No   14  Female              500              200
488         No   14  Female              248              100
492        Yes   30  Female             1500              250
493         No   13    Male              125              110

          PriceImportance     QualityImportance       StyleImportance  \
0          Very important         Not important         Not important
30         Very important         Not important         Not important
32         Very important         Not important         Not important
48         Very important         Not important         Not important
53         Very important         Not important         Not important
64   Moderately important        Very important        Very important
89   Moderately important        Very important         Not important
92         Very important         Not important         Not important
103        Very important  Moderately important  Moderately important
112        Very important         Not important         Not important
125        Very important         Not important         Not important
135        Very important        Very important         Not important
137        Very important         Not important         Not important
147        Very important         Not important         Not important
194         Not important         Not important        Very important
199        Very important         Not important         Not important
208        Very important         Not important         Not important
212        Very important  Moderately important        Very important
223        Very important         Not important         Not important
234        Very important         Not important         Not important
241        Very important         Not important         Not important
253        Very important         Not important         Not important
266        Very important         Not important         Not important
280        Very important         Not important         Not important
287        Very important         Not important         Not important
291        Very important        Very important         Not important
317        Very important  Moderately important         Not important
319        Very important        Very important        Very important
333        Very important         Not important         Not important
349        Very important         Not important         Not important
374        Very important         Not important         Not important
382        Very important         Not important         Not important
384        Very important  Moderately important        Very important
403         Not important         Not important         Not important
423        Very important         Not important         Not important
439        Very important        Very important        Very important
441        Very important         Not important         Not important
448        Very important         Not important         Not important
450        Very important         Not important         Not important
456        Very important        Very important  Moderately important
483        Very important         Not important         Not important
488        Very important         Not important         Not important
492  Moderately important        Very important  Moderately important
493        Very important         Not important         Not important

     BrandImageImportance    LocationImportance PurchasedClothingTypes  \
0           Not important         Not important            Sports wear
30          Not important         Not important            Sports wear
32          Not important         Not important            Sports wear
48          Not important         Not important            Sports wear
53          Not important         Not important            Sports wear
64   Moderately important         Not important            Sports wear
89         Very important  Moderately important            Sports wear
92          Not important         Not important            Sports wear
103        Very important  Moderately important            Casual wear
112         Not important         Not important            Sports wear
125         Not important         Not important            Sports wear
135         Not important  Moderately important            Sports wear
137         Not important         Not important            Sports wear
147         Not important         Not important            Sports wear
194  Moderately important         Not important            Casual wear
199         Not important         Not important            Sports wear
208         Not important         Not important            Sports wear
212        Very important         Not important            Casual wear
223         Not important         Not important            Sports wear
234         Not important         Not important            Sports wear
241         Not important         Not important            Sports wear
253         Not important         Not important            Sports wear
266         Not important         Not important            Sports wear
280         Not important         Not important            Sports wear
287         Not important         Not important            Sports wear
291  Moderately important         Not important            Formal wear
317         Not important  Moderately important            Formal wear
319         Not important         Not important            Casual wear
333  Moderately important        Very important            Formal wear
349         Not important         Not important            Sports wear
374         Not important         Not important            Sports wear
382         Not important         Not important            Sports wear
384  Moderately important  Moderately important            Casual wear
403         Not important         Not important            Casual wear
423         Not important         Not important            Sports wear
439         Not important         Not important            Formal wear
441         Not important         Not important            Sports wear
448         Not important         Not important            Sports wear
450         Not important         Not important            Sports wear
456         Not important  Moderately important            Formal wear
483         Not important         Not important            Sports wear
488         Not important         Not important            Sports wear
492         Not important        Very important            Formal wear
493         Not important         Not important            Sports wear

    PreferredShoppingPlatform PreferredClothingBrand
0           In-store shopping          Brands Outlet
30          In-store shopping          Brands Outlet
32          In-store shopping          Brands Outlet
48          In-store shopping          Brands Outlet
53          In-store shopping          Brands Outlet
64                       Both                 Uniqlo
89            Online shopping                 Uniqlo
92          In-store shopping          Brands Outlet
103           Online shopping                    H&M
112           Online shopping          Brands Outlet
125         In-store shopping          Brands Outlet
135           Online shopping                 Uniqlo
137         In-store shopping          Brands Outlet
147         In-store shopping          Brands Outlet
194           Online shopping                    H&M
199         In-store shopping          Brands Outlet
208         In-store shopping          Brands Outlet
212           Online shopping                    H&M
223         In-store shopping          Brands Outlet
234         In-store shopping          Brands Outlet
241         In-store shopping          Brands Outlet
253         In-store shopping          Brands Outlet
266         In-store shopping          Brands Outlet
280         In-store shopping          Brands Outlet
287         In-store shopping          Brands Outlet
291                      Both                    H&M
317           Online shopping                 Uniqlo
319                      Both          Brands Outlet
333                      Both          Brands Outlet
349         In-store shopping          Brands Outlet
374         In-store shopping          Brands Outlet
382         In-store shopping          Brands Outlet
384           Online shopping          Brands Outlet
403                      Both                 Uniqlo
423         In-store shopping          Brands Outlet
439                      Both                 Uniqlo
441         In-store shopping          Brands Outlet
448         In-store shopping          Brands Outlet
450         In-store shopping          Brands Outlet
456           Online shopping          Brands Outlet
483         In-store shopping          Brands Outlet
488         In-store shopping          Brands Outlet
492                      Both                 Uniqlo
493         In-store shopping          Brands Outlet
Number of outliers in Age: 44

In [5]:
# Replace outliers with the median
median_value = df[column_name].median()
df.loc[outliers, column_name] = median_value

# Check if outliers are successfully replaced
updated_outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)
print("Rows with outliers after transformation:")
print(df[updated_outliers])

Rows with outliers after transformation:
Empty DataFrame
Columns: [Employment, Age, Gender, MonthlyExpenses, ClothesExpenses, PriceImportance, QualityImportance, StyleImportance, BrandImageImportance, LocationImportance, PurchasedClothingTypes, PreferredShoppingPlatform, PreferredClothingBrand]
Index: []

In [6]:
# Specify the column name
column_name = 'MonthlyExpenses'

# Calculate quartiles and IQR
Q1 = df[column_name].quantile(0.25)
Q3 = df[column_name].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound)
print(upper_bound)

# Identify outliers using boolean indexing
outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)

# Display rows with outliers
outlier_rows = df[outliers]
print("Rows with outliers:")
print(outlier_rows)
num_outliers = outliers.sum()
print(f"Number of outliers in {column_name}: {num_outliers}")

-775.0
2545.0
Rows with outliers:
    Employment  Age  Gender  MonthlyExpenses  ClothesExpenses  \
89         Yes   21    Male             3000              500
103         No   21  Female             3500              400
317        Yes   21    Male             4000              500
439        Yes   21    Male             3000              550

          PriceImportance     QualityImportance       StyleImportance  \
89   Moderately important        Very important         Not important
103        Very important  Moderately important  Moderately important
317        Very important  Moderately important         Not important
439        Very important        Very important        Very important

    BrandImageImportance    LocationImportance PurchasedClothingTypes  \
89        Very important  Moderately important            Sports wear
103       Very important  Moderately important            Casual wear
317        Not important  Moderately important            Formal wear
439        Not important         Not important            Formal wear

    PreferredShoppingPlatform PreferredClothingBrand
89            Online shopping                 Uniqlo
103           Online shopping                    H&M
317           Online shopping                 Uniqlo
439                      Both                 Uniqlo
Number of outliers in MonthlyExpenses: 4

In [7]:
# Replace outliers with the median
median_value = df[column_name].median()
df.loc[outliers, column_name] = median_value

# Check if outliers are successfully replaced
updated_outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)
print("Rows with outliers after transformation:")
print(df[updated_outliers])

Rows with outliers after transformation:
Empty DataFrame
Columns: [Employment, Age, Gender, MonthlyExpenses, ClothesExpenses, PriceImportance, QualityImportance, StyleImportance, BrandImageImportance, LocationImportance, PurchasedClothingTypes, PreferredShoppingPlatform, PreferredClothingBrand]
Index: []

In [8]:
# Specify the column name
column_name = 'ClothesExpenses'

# Calculate quartiles and IQR
Q1 = df[column_name].quantile(0.25)
Q3 = df[column_name].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound)
print(upper_bound)

# Identify outliers using boolean indexing
outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)

# Display rows with outliers
outlier_rows = df[outliers]
print("Rows with outliers:")
print(outlier_rows)
num_outliers = outliers.sum()
print(f"Number of outliers in {column_name}: {num_outliers}")

-62.5
517.5
Rows with outliers:
    Employment  Age  Gender  MonthlyExpenses  ClothesExpenses PriceImportance  \
403        Yes   21  Female             2500             1000   Not important
439        Yes   21    Male              780              550  Very important

    QualityImportance StyleImportance BrandImageImportance LocationImportance  \
403     Not important   Not important        Not important      Not important
439    Very important  Very important        Not important      Not important

    PurchasedClothingTypes PreferredShoppingPlatform PreferredClothingBrand
403            Casual wear                      Both                 Uniqlo
439            Formal wear                      Both                 Uniqlo
Number of outliers in ClothesExpenses: 2

In [9]:
# Replace outliers with the median
median_value = df[column_name].median()
df.loc[outliers, column_name] = median_value

# Check if outliers are successfully replaced
updated_outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)
print("Rows with outliers after transformation:")
print(df[updated_outliers])

Rows with outliers after transformation:
Empty DataFrame
Columns: [Employment, Age, Gender, MonthlyExpenses, ClothesExpenses, PriceImportance, QualityImportance, StyleImportance, BrandImageImportance, LocationImportance, PurchasedClothingTypes, PreferredShoppingPlatform, PreferredClothingBrand]
Index: []

In [10]:
# Specify the column name
column_name = 'Age'

# Calculate quartiles and IQR
Q1 = df[column_name].quantile(0.25)
Q3 = df[column_name].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound)
print(upper_bound)

# Identify outliers using boolean indexing
outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)

# Display rows with outliers
outlier_rows = df[outliers]
print("Rows with outliers:")
print(outlier_rows)
num_outliers = outliers.sum()
print(f"Number of outliers in {column_name}: {num_outliers}")

17.0
25.0
Rows with outliers:
    Employment  Age  Gender  MonthlyExpenses  ClothesExpenses PriceImportance  \
7           No   16  Female              500              163  Very important
10          No   15    Male              250              100  Very important
35          No   26  Female              500              200  Very important
36          No   16    Male              350              200  Very important
42          No   15    Male              200              126  Very important
65          No   15  Female              500              200  Very important
71          No   15  Female              400              145  Very important
79          No   15    Male              459              300  Very important
84          No   15  Female              458              133  Very important
87          No   15    Male              450              130  Very important
111         No   15  Female              452              200  Very important
115         No   15    Male              500              200  Very important
132         No   16  Female              354              140  Very important
218         No   16    Male              400              100  Very important
239         No   16  Female              460              120  Very important
257         No   15  Female              344              134  Very important
274         No   15  Female              410              200  Very important
281         No   16  Female              230               40  Very important
311         No   15  Female              350              150  Very important
324         No   16  Female              485              146  Very important
331         No   16  Female              400              200  Very important
357         No   15    Male              340              122  Very important
416         No   15  Female              350               80  Very important
442         No   16  Female              445              134  Very important
480         No   15    Male              340               75  Very important
481         No   15    Male              420              160  Very important
495         No   15  Female              500              150  Very important
496         No   16  Female              500              360  Very important

        QualityImportance StyleImportance  BrandImageImportance  \
7           Not important   Not important         Not important
10          Not important   Not important         Not important
35   Moderately important   Not important        Very important
36          Not important   Not important         Not important
42          Not important   Not important         Not important
65          Not important   Not important         Not important
71          Not important   Not important  Moderately important
79          Not important   Not important         Not important
84          Not important   Not important         Not important
87          Not important   Not important         Not important
111         Not important   Not important         Not important
115         Not important   Not important         Not important
132         Not important   Not important         Not important
218         Not important   Not important         Not important
239         Not important   Not important         Not important
257         Not important   Not important         Not important
274         Not important   Not important         Not important
281         Not important   Not important         Not important
311         Not important   Not important         Not important
324         Not important   Not important         Not important
331         Not important   Not important         Not important
357         Not important   Not important         Not important
416         Not important   Not important         Not important
442         Not important   Not important         Not important
480         Not important   Not important         Not important
481         Not important   Not important         Not important
495         Not important   Not important         Not important
496         Not important   Not important         Not important

    LocationImportance PurchasedClothingTypes PreferredShoppingPlatform  \
7        Not important            Sports wear         In-store shopping
10       Not important            Sports wear         In-store shopping
35       Not important            Sports wear           Online shopping
36       Not important            Sports wear         In-store shopping
42       Not important            Sports wear         In-store shopping
65       Not important            Sports wear         In-store shopping
71       Not important            Sports wear                      Both
79       Not important            Sports wear         In-store shopping
84       Not important            Sports wear         In-store shopping
87       Not important            Sports wear         In-store shopping
111      Not important            Sports wear         In-store shopping
115      Not important            Sports wear         In-store shopping
132      Not important            Sports wear         In-store shopping
218      Not important            Sports wear         In-store shopping
239      Not important            Sports wear         In-store shopping
257      Not important            Sports wear         In-store shopping
274      Not important            Sports wear         In-store shopping
281      Not important            Sports wear         In-store shopping
311      Not important            Sports wear         In-store shopping
324      Not important            Sports wear         In-store shopping
331      Not important            Sports wear         In-store shopping
357      Not important            Sports wear         In-store shopping
416      Not important            Sports wear         In-store shopping
442      Not important            Sports wear         In-store shopping
480      Not important            Sports wear         In-store shopping
481      Not important            Sports wear         In-store shopping
495      Not important            Sports wear         In-store shopping
496      Not important            Sports wear         In-store shopping

    PreferredClothingBrand
7            Brands Outlet
10           Brands Outlet
35                  Uniqlo
36           Brands Outlet
42           Brands Outlet
65           Brands Outlet
71           Brands Outlet
79           Brands Outlet
84           Brands Outlet
87           Brands Outlet
111          Brands Outlet
115          Brands Outlet
132          Brands Outlet
218          Brands Outlet
239          Brands Outlet
257          Brands Outlet
274          Brands Outlet
281          Brands Outlet
311          Brands Outlet
324          Brands Outlet
331          Brands Outlet
357          Brands Outlet
416          Brands Outlet
442          Brands Outlet
480          Brands Outlet
481          Brands Outlet
495          Brands Outlet
496          Brands Outlet
Number of outliers in Age: 28

In [11]:
# Replace outliers with the median
median_value = df[column_name].median()
df.loc[outliers, column_name] = median_value

# Check if outliers are successfully replaced
updated_outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)
print("Rows with outliers after transformation:")
print(df[updated_outliers])

Rows with outliers after transformation:
Empty DataFrame
Columns: [Employment, Age, Gender, MonthlyExpenses, ClothesExpenses, PriceImportance, QualityImportance, StyleImportance, BrandImageImportance, LocationImportance, PurchasedClothingTypes, PreferredShoppingPlatform, PreferredClothingBrand]
Index: []

In [12]:
# Specify the column name
column_name = 'MonthlyExpenses'

# Calculate quartiles and IQR
Q1 = df[column_name].quantile(0.25)
Q3 = df[column_name].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound)
print(upper_bound)

# Identify outliers using boolean indexing
outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)

# Display rows with outliers
outlier_rows = df[outliers]
print("Rows with outliers:")
print(outlier_rows)
num_outliers = outliers.sum()
print(f"Number of outliers in {column_name}: {num_outliers}")

-775.0
2545.0
Rows with outliers:
Empty DataFrame
Columns: [Employment, Age, Gender, MonthlyExpenses, ClothesExpenses, PriceImportance, QualityImportance, StyleImportance, BrandImageImportance, LocationImportance, PurchasedClothingTypes, PreferredShoppingPlatform, PreferredClothingBrand]
Index: []
Number of outliers in MonthlyExpenses: 0

In [13]:
# Specify the column name
column_name = 'ClothesExpenses'

# Calculate quartiles and IQR
Q1 = df[column_name].quantile(0.25)
Q3 = df[column_name].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound)
print(upper_bound)

# Identify outliers using boolean indexing
outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)

# Display rows with outliers
outlier_rows = df[outliers]
print("Rows with outliers:")
print(outlier_rows)
num_outliers = outliers.sum()
print(f"Number of outliers in {column_name}: {num_outliers}")

-62.5
517.5
Rows with outliers:
Empty DataFrame
Columns: [Employment, Age, Gender, MonthlyExpenses, ClothesExpenses, PriceImportance, QualityImportance, StyleImportance, BrandImageImportance, LocationImportance, PurchasedClothingTypes, PreferredShoppingPlatform, PreferredClothingBrand]
Index: []
Number of outliers in ClothesExpenses: 0

In [14]:
# Specify the column name
column_name = 'Age'

# Calculate quartiles and IQR
Q1 = df[column_name].quantile(0.25)
Q3 = df[column_name].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound)
print(upper_bound)

# Identify outliers using boolean indexing
outliers = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)

# Display rows with outliers
outlier_rows = df[outliers]
print("Rows with outliers:")
print(outlier_rows)
num_outliers = outliers.sum()
print(f"Number of outliers in {column_name}: {num_outliers}")

17.0
25.0
Rows with outliers:
Empty DataFrame
Columns: [Employment, Age, Gender, MonthlyExpenses, ClothesExpenses, PriceImportance, QualityImportance, StyleImportance, BrandImageImportance, LocationImportance, PurchasedClothingTypes, PreferredShoppingPlatform, PreferredClothingBrand]
Index: []
Number of outliers in Age: 0

In [15]:
df.to_csv('Cleaned Dataset.csv', index=False)