In [1]:
import pandas as pd
# Replace 'dataset.csv' with the actual file path
df = pd.read_csv('Raw Dataset.csv')

# Display the first few rows of the DataFrame
df.head()

,1. Are you currently employed?,2. What is your age? (eg:21),3. What is your gender?,4. How much is your monthly expenses? (eg:1500),5. How much do you usually spend on clothes? (eg:100),6. How important is the clothing price as buying factor?,7. How important is the clothing quality to you?,8. How important is the style offered by a clothing brand?,9. How important is the image of a clothing brand?,10. How important is the accessibility of a clothing brand store's location?,11. What clothing types do you typically purchase?,12. Which shopping platform do you prefer the most?,13. Which clothing brand do you prefer?
0,No,19,Male,400,300,Very important,Not important,Not important,Not important,Not important,Sports wear,In-store shopping,Brands Outlet
1,Yes,22,Female,450,300,Very important,Moderately important,Very important,Very important,Very important,Casual wear,Online shopping,H&M
2,Yes,22,Male,1300,250,Not important,Very important,Moderately important,Very important,Very important,Formal wear,Both,Uniqlo
3,No,21,Female,500,50,Very important,Very important,Not important,Not important,Moderately important,Casual wear,Online shopping,H&M
4,No,23,Female,900,300,Very important,Moderately important,Very important,Very important,Very important,Casual wear,Online shopping,H&M

In [2]:
# Replace attribute name
original_column_names = ['Are you currently employed?',
                          'What is your age? (eg:21)',
                          'What is your gender?',
                          'How much is your monthly expenses? (eg:1500)',
                          'How much do you usually spend on clothes? (eg:100)',
                          'How important is the clothing price as buying factor?',
                          'How important is the clothing quality to you?',
                          'How important is the style offered by a clothing brand?',
                          'How important is the image of a clothing brand?',
                          'How important is the accessibility of a clothing brand store\'s location?',
                          'What clothing types do you typically purchase?',
                          'Which shopping platform do you prefer the most?',
                          'Which clothing brand do you prefer?']

# Define simplified column names
new_column_names = [
    'Employment',
    'Age',
    'Gender',
    'MonthlyExpenses',
    'ClothesExpenses',
    'PriceImportance',
    'QualityImportance',
    'StyleImportance',
    'BrandImageImportance',
    'LocationImportance',
    'PurchasedClothingTypes',
    'PreferredShoppingPlatform',
    'PreferredClothingBrand'
]

# Rename columns in the DataFrame
df.columns = new_column_names

# Display the DataFrame with updated column names
df.head()

,Employment,Age,Gender,MonthlyExpenses,ClothesExpenses,PriceImportance,QualityImportance,StyleImportance,BrandImageImportance,LocationImportance,PurchasedClothingTypes,PreferredShoppingPlatform,PreferredClothingBrand
0,No,19,Male,400,300,Very important,Not important,Not important,Not important,Not important,Sports wear,In-store shopping,Brands Outlet
1,Yes,22,Female,450,300,Very important,Moderately important,Very important,Very important,Very important,Casual wear,Online shopping,H&M
2,Yes,22,Male,1300,250,Not important,Very important,Moderately important,Very important,Very important,Formal wear,Both,Uniqlo
3,No,21,Female,500,50,Very important,Very important,Not important,Not important,Moderately important,Casual wear,Online shopping,H&M
4,No,23,Female,900,300,Very important,Moderately important,Very important,Very important,Very important,Casual wear,Online shopping,H&M

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employment                 500 non-null    object
 1   Age                        500 non-null    int64
 2   Gender                     500 non-null    object
 3   MonthlyExpenses            500 non-null    int64
 4   ClothesExpenses            500 non-null    int64
 5   PriceImportance            500 non-null    object
 6   QualityImportance          500 non-null    object
 7   StyleImportance            500 non-null    object
 8   BrandImageImportance       500 non-null    object
 9   LocationImportance         500 non-null    object
 10  PurchasedClothingTypes     500 non-null    object
 11  PreferredShoppingPlatform  500 non-null    object
 12  PreferredClothingBrand     500 non-null    object
dtypes: int64(3), object(10)
memory usage: 50.9+ KB

In [4]:
# Check for missing values in each column
df.isnull().sum()

Employment                   0
Age                          0
Gender                       0
MonthlyExpenses              0
ClothesExpenses              0
PriceImportance              0
QualityImportance            0
StyleImportance              0
BrandImageImportance         0
LocationImportance           0
PurchasedClothingTypes       0
PreferredShoppingPlatform    0
PreferredClothingBrand       0
dtype: int64

In [5]:
df.to_csv('Cleaned Dataset.csv', index=False)